.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-content {
  height: 100%;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}


li.movie {
  list-style-type: none;
  width: 100%;
  display: flex;
}
.movie-poster {
  margin-top: 25px;
  height: 300px;
  width: 200px;
  float: left;
  margin-right: 30px;
}
.movie-text {
  margin-top: 80px;
  width: 50%;
}
.movie-title {
  font-weight: bold;
  font-size: 24px;
  color: black;
}
.movie-desc {
  font-style: italic;
}
.movie-add {
  font-size: 25px;
  color: #d50000;
  font-weight: bold;
}
.movie-rating {
  font-size: 18px;
  font-style: italic;
}
.rating {
  color: #1faa00;
  font-weight: bold;
}
